* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

HTML{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
  text-transform: uppercase;
}

.container{
  width: 100%;
  position: relative;
}

.menù{
  position:fixed;
  top:20px;
  right:15px;
}

.box{
height: 100vh;
}

.content{
  text-align:center;
}




#prima-foto{
  background-color: red;
  color: yellow;
}

#seconda-foto{
  background-color: green;
  color: yellow;
}

#terza-foto{
  background-color: yellow;
  color:green;
}

a{
  background-color: white;
/*   line-height: 15px;
  height: 15px; */
  border-radius: 50%;
  font-size:10px;
  color:black;
  padding: 9px 12px;
  text-decoration:none;
  margin-left:15px;


}

a:hover{
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}